In [1]:
# Libraries
import pandas as pd

In [2]:
datafile =   pd.read_csv(r"..\data_storage\raw\heart.csv")

In [3]:
datafile.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
datafile.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

Column DataTypes

In [5]:
datafile.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

Finding Missing Values

In [6]:
datafile.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

Finding Duplicate Values

In [7]:
datafile.duplicated().sum()

0

Get Categorical Columns

In [8]:
cols = list(datafile.columns)
num_cols = datafile._get_numeric_data().columns
cat_cols = list(set(cols) - set(num_cols))
print(cat_cols)

['ChestPainType', 'RestingECG', 'ExerciseAngina', 'Sex', 'ST_Slope']

In [9]:
datafile[cat_cols].head()

  ChestPainType RestingECG ExerciseAngina Sex ST_Slope
0           ATA     Normal              N   M       Up
1           NAP     Normal              N   F     Flat
2           ATA         ST              N   M       Up
3           ASY     Normal              Y   F     Flat
4           NAP     Normal              N   M       Up

In [10]:
print("Columns" , "     Unique Values")
cat_dict = {}
for col in cat_cols:
    temp = {}
    x=0
    print(col , datafile[col].unique())
    for i in datafile[col].unique():
        temp[i] = x
        x=x+1
    cat_dict[col] = temp

Columns      Unique Values
ChestPainType ['ATA' 'NAP' 'ASY' 'TA']
RestingECG ['Normal' 'ST' 'LVH']
ExerciseAngina ['N' 'Y']
Sex ['M' 'F']
ST_Slope ['Up' 'Flat' 'Down']

One Hot Encoding

In [11]:
for i in cat_dict.keys():
    print((i,cat_dict[i]  ))

('ChestPainType', {'ATA': 0, 'NAP': 1, 'ASY': 2, 'TA': 3})
('RestingECG', {'Normal': 0, 'ST': 1, 'LVH': 2})
('ExerciseAngina', {'N': 0, 'Y': 1})
('Sex', {'M': 0, 'F': 1})
('ST_Slope', {'Up': 0, 'Flat': 1, 'Down': 2})

In [18]:
# Save MetaData
pd.Series(cat_dict ).T.reset_index().to_csv(r'..\data_storage\processed\metaData.csv' , header=False, index=False)

In [13]:
# Encoding the column values 
df_encoded = datafile.replace(cat_dict)
df_encoded.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,0,140,289,0,0,172,0,0.0,0,0
1,49,1,1,160,180,0,0,156,0,1.0,1,1
2,37,0,0,130,283,0,1,98,0,0.0,0,0
3,48,1,2,138,214,0,0,108,1,1.5,1,1
4,54,0,1,150,195,0,0,122,0,0.0,0,0

Saving Processed Data File

In [14]:
df_encoded.to_csv(r'..\data_storage\processed\heartProcessed.csv', index=False)